{% extends 'base.html' %}

{% block title %}
  Forgot Password - Branchez
{% endblock %}

{% block content %}
  <div class="background-image-container">
    <div class="form-container">
      <h1>Enter your Email</h1>
      <p class="verification-code-prompt" style="text-align: left;">Enter your email address to receive a password reset link.</p>
      <form id="forgotPasswordForm" method="POST" action="{% url 'password_reset' %}">
        {% csrf_token %}
        <div class="input-group">
          <i class="fas fa-envelope input-icon"></i>
          <input type="email" name="email" id="email" placeholder="Your E-mail" required />
        </div>
        <button type="submit" class="signup-button">Send Password Reset Link</button>
      </form>
    </div>
  </div>

  <!-- Modal -->
  <div id="messageModal" class="modal">
    <div class="modal-content">
      <span class="close-button" id="modalCloseBtn">&times;</span>
      <p id="modalMessage"></p>
    </div>
  </div>
{% endblock %}





{% comment %} {% extends 'base.html' %}

{% block title %}
  Forgot Password - Branchez
{% endblock %}

{% block content %}
  <div class="background-image-container">
    <div class="form-container">
      <h1>Enter your Email</h1>
      <p class="verification-code-prompt" style="text-align: left;">We have sent a verification code to your email address. Please enter your code down below 👇</p>
      <form id="forgotPasswordForm" method="POST" action="">
        {% csrf_token %}
        <div class="input-group">
          <i class="fas fa-envelope input-icon"></i>
          <input type="email" name="email" placeholder="Your E-mail" required />
        </div>
        <button type="submit" class="signup-button">Send Your Verification Code</button>
      </form>
    </div>
  </div>

  <!-- Modal -->
  <div id="messageModal" class="modal">
    <div class="modal-content">
      <span class="close-button" id="modalCloseBtn">&times;</span>
      <p id="modalMessage"></p>
    </div>
  </div>
{% endblock %} {% endcomment %}