{% extends 'base.html' %}

{% block title %}Create New Password - Branchez{% endblock title %}

{% block content %}
<div class="background-image-container">
    <div class="form-container">
        <h1>Create New Password</h1>
        <form id="newPasswordForm" method="POST" action="{% url 'password_reset_confirm' %}">
            {% csrf_token %}

            <!-- Inline Error Message -->
            <div id="newPasswordErrorMessage" class="error-message">
                {% if form.errors %}
                    {{ form.errors }}
                {% endif %}
            </div>

            <div class="input-group">
                <i class="fas fa-envelope input-icon"></i>
                <input type="email" name="email" placeholder="Your E-mail" required>
            </div>
            <div class="input-group">
                <i class="fas fa-key input-icon"></i>
                <input type="password" name="new_password" placeholder="New Password" required>
            </div>
            <div class="input-group">
                <i class="fas fa-key input-icon"></i>
                <input type="password" name="repeat_new_password" placeholder="Repeat New Password" required>
            </div>
            <button type="submit" class="signup-button">Log In</button>
        </form>
    </div>
</div>

<!-- Modal -->
<div id="messageModal" class="modal">
    <div class="modal-content">
        <span class="close-button" id="modalCloseBtn">&times;</span>
        <p id="modalMessage"></p>
    </div>
</div>
{% endblock content %}
