{% extends 'base.html' %}

{% block title %}Password Reset Complete - Branchez{% endblock title %}

{% block content %}
<div class="background-image-container">
    <div class="form-container">
        <h1>Password Reset Complete</h1>
        <p style="text-align: left;">
            Your password has been successfully reset. You can now log in using your new password.
        </p>
        <a href="{% url 'login' %}" class="signup-button" style="text-decoration: none; text-align: center;">Go to Login</a>
    </div>
</div>

<!-- Optional Modal -->
{% comment %} <div id="messageModal" class="modal" style="display:block;">
    <div class="modal-content">
        <span class="close-button" id="modalCloseBtn">&times;</span>
        <p id="modalMessage">Password reset successfully!</p>
    </div>
</div>

<script>
    const modal = document.getElementById('messageModal');
    const closeBtn = document.getElementById('modalCloseBtn');

    closeBtn.onclick = function() {
        modal.style.display = "none";
    }

    window.onclick = function(event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
</script> {% endcomment %}
{% endblock content %}
