{% extends 'base.html' %}
<meta http-equiv="refresh" content="3;url={% url 'login' %}">
{% block title %}Reset Password - Branchez{% endblock title %}

{% block content %}
<div class="background-image-container">
    <div class="form-container">
        <h1>Reset Your Password</h1>
        <p style="text-align: left;">
            Enter your new password below.
        </p>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="signup-button">Reset Password</button>
        </form>
    </div>
</div>

<!-- Modal -->
<div id="messageModal" class="modal" style="display:none;">
    <div class="modal-content">
        <span class="close-button" id="modalCloseBtn">&times;</span>
        <p id="modalMessage"></p>
    </div>
</div>

{% comment %} <script>
    const modal = document.getElementById('messageModal');
    const closeBtn = document.getElementById('modalCloseBtn');

    closeBtn.onclick = function() {
        modal.style.display = "none";
    }

    window.onclick = function(event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }

    {% if validlink and form.errors %}
        modal.style.display = "block";
        document.getElementById('modalMessage').textContent = "Please correct the errors below.";
    {% endif %}
</script> {% endcomment %}
{% endblock content %}
