{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <title>{% block title %}Branchez{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'css/enterstyle.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Changa:wght@600&family=Poppins:wght@400;600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Open+Sans:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

    {% block extra_css %}{% endblock extra_css %}
</head>
<body>
    {% block content %}{% endblock content %}
    <script src="{% static 'js/enterscript.js' %}"></script>
    {% block extra_js %}{% endblock extra_js %}
</body>
</html>
